@model IEnumerable<BlueSports.Models.Product>
@using BlueSports.Models
@using BlueSports.HandleAdmin.Helper


<div>
    <div class="left-zone ads"  >
        <a href="https://tinhocngoisao.com/collections/hang-trung-bay-giam-den-90/">
        <img src="~/assets/img/banner1.jpg" asp-append-version="true" height="350px" />
        </a>
    </div>
    
    <div id="category" class="container mb-5">
        <div class="row">
            <div class="col-lg-3 flex-grow-1">
                <div class="heading">
                    <i class="fa fa-bars text-white"></i>&nbsp&nbsp
                    <span class="text-white"> Danh mục sản phẩm</span>
                </div>
                <ul class="nav-item">
                    <li >
                        <a href="/ProductList?categoryId=1" class="btn" type="button">
                            <i class="fa-solid fa-laptop"></i> &nbspLaptop
                        </a>


                        <ul class="subnav">
                            <li >
                                <a class="head-nav" href="danhmuc/laptop">
                                    <h4 style="margin-top: 15px ">
                                        GAMING
                                    </h4>
                                </a>
                                <ul class="subnav2">
                                    <li>
                                        <span>Hãng</span>
                                        <ul>
                                            <li><a href="/ProductList?categoryId=1&brandId=12">ASUS</a></li>
                                            <li><a href="/ProductList?categoryId=1&brandId=17">MSI</a></li>
@*                                             <li><a href="">ACER</a></li>
                                            <li><a href="#">LENOVO</a></li>
                                            <li><a href="#">DELL</a></li> *@
                                        </ul>
                                    </li>
                                    <li>
                                        <span>Giá</span>
                                        <ul>
                                            <li><a href="/ProductList?categoryId=1&priceRange=under20">Dưới 20 Triệu</a></li>
                                            <li><a href="/ProductList?categoryId=1&priceRange=20to25">20 - 25 Triệu</a></li>
                                            <li><a href="/ProductList?categoryId=1&priceRange=over25">Trên 25 Triệu</a></li>
                                        </ul>
                                    </li>
@*                                     <li>
                                        <span>Card Màn Hình</span>
                                        <ul>
                                            <li><a href="#">GTX 1650</a></li>
                                            <li><a href="#">RTX 3050</a></li>
                                            <li><a href="#">RTX 3060</a></li>
                                            <li><a href="#">RTX 3070 / 3080</a></li>
                                        </ul>
                                    </li> *@
                                </ul>
                            </li>
                            <li>
                                <a class="head-nav" href="#">
                                    <h4>
                                        Văn Phòng
                                    </h4>
                                </a>
                                <ul class="subnav2">
                                    <li>
                                        <span>Hãng</span>
                                        <ul>
@*                                             <li><a href="#">ACER</a></li> *@
                                            <li><a href="/ProductList?categoryId=1&brandId=12">ASUS</a></li>
                                            <li><a href="/ProductList?categoryId=1&brandId=17">MSI</a></li>
@*                                             <li><a href="#">LENOVO</a></li>
                                            <li><a href="#">DELL</a></li> *@
                                        </ul>
                                    </li>
                                    <li>
                                        <span>Giá</span>
                                        <ul>
                                            <li><a href="/ProductList?categoryId=1&priceRange=under20">Dưới 20 Triệu</a></li>
                                            <li><a href="/ProductList?categoryId=1&priceRange=20to25">20 - 25 Triệu</a></li>
                                            <li><a href="/ProductList?categoryId=1&priceRange=over25">Trên 25 Triệu</a></li>
                                        </ul>
                                    </li>
                                    @* <li>
                                        <span>CPU</span>
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    Intel Core i3
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Intel Core i5
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Intel Core i7
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    AMD Ryzen
                                                </a>
                                            </li>
                                        </ul>
                                    </li> *@
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/ProductList?categoryId=2" class="btn" type="button">
                            <i class="fa-solid fa-computer"></i> &nbspPC
                        </a>
                        <ul class="subnav" style="margin-top: -157px">
                            <li>
                                <a class="head-nav" href="#">
                                    <h4 style="margin-top: 15px ">
                                        GAMING
                                    </h4>
                                </a>
                                <ul class="subnav2 mb-4">
                                    <li>
                                        <span>Hãng</span>
                                        <ul>
                                            <li><a href="/ProductList?categoryId=2&brandId=12">ASUS</a></li>
                                            <li><a href="/ProductList?categoryId=2&brandId=17">MSI</a></li>
                                            @*                                             <li><a href="">ACER</a></li>
                                            <li><a href="#">LENOVO</a></li>
                                            <li><a href="#">DELL</a></li> *@
                                        </ul>
                                    </li>
                                    <li>
                                        <span>Giá</span>
                                        <ul>
                                            <li><a href="/ProductList?categoryId=2&priceRange=under20">Dưới 20 Triệu</a></li>
                                            <li><a href="/ProductList?categoryId=2&priceRange=20to25">20 - 25 Triệu</a></li>
                                            <li><a href="/ProductList?categoryId=2&priceRange=over25">Trên 25 Triệu</a></li>
                                        </ul>
                                    </li>
@*                                     <li>
                                        <span>GVN VIPER - i5 / r5</span>
                                        <ul>
                                            <li><a href="#">Viper Plus i3070 - i5</a></li>
                                            <li><a href="#">Viper Plus i3060/Ti - i5</a></li>
                                            <li><a href="#">Viper i3050 - i5</a></li>
                                        </ul>
                                    </li> *@
                                </ul>
                            </li>
                            <li>
                                <a class="head-nav" href="#">
                                    <h4>
                                        Văn Phòng
                                    </h4>
                                </a>
                                <ul class="subnav2">
                                    <li>
                                        <span>Hãng</span>
                                        <ul>
                                            <li><a href="/ProductList?categoryId=2&brandId=12">ASUS</a></li>
                                            <li><a href="/ProductList?categoryId=2&brandId=17">MSI</a></li>
                                            @*                                             <li><a href="">ACER</a></li>
                                            <li><a href="#">LENOVO</a></li>
                                            <li><a href="#">DELL</a></li> *@
                                        </ul>
                                    </li>
                                    <li>
                                        <span>Giá</span>
                                        <ul>
                                            <li><a href="/ProductList?categoryId=2&priceRange=under20">Dưới 20 Triệu</a></li>
                                            <li><a href="/ProductList?categoryId=2&priceRange=20to25">20 - 25 Triệu</a></li>
                                            <li><a href="/ProductList?categoryId=2&priceRange=over25">Trên 25 Triệu</a></li>
                                        </ul>
                                    </li>
@*                                     <li>
                                        <span>Mini PC Cluster</span>
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    ASUS Mini PC PN63-S1
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    HP ProDesk 400 G6 Mini
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    HP EliteDesk 800 G6 Mini
                                                </a>
                                            </li>
                                        </ul>
                                    </li> *@
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/ProductList?categoryId=3" class="btn" type="button">
                            <i class="fa-solid fa-display"></i> &nbspMàn Hình
                        </a>
                        <ul class="subnav" style="margin-top: -235px">
                            <li>
                                <ul class="subnav2 mt-5 mb-5">
                                    <li>
                                        <span>Hãng</span>
                                        <ul>
                                            <li><a href="/ProductList?categoryId=3&brandId=12">ASUS</a></li>
                                            <li><a href="/ProductList?categoryId=3&brandId=17">MSI</a></li>
                                            @*                                             <li><a href="">ACER</a></li>
                                            <li><a href="#">LENOVO</a></li>
                                            <li><a href="#">DELL</a></li> *@
                                        </ul>
                                    </li>
                                    <li>
                                        <span>Giá</span>
                                        <ul>
                                            <li><a href="/ProductList?categoryId=3&priceRange=under5">Dưới 5 Triệu</a></li>
                                            <li><a href="/ProductList?categoryId=3&priceRange=5to10">5 - 10 Triệu</a></li>
                                            <li><a href="/ProductList?categoryId=3&priceRange=over10">Trên 10 Triệu</a></li>
                                        </ul>
                                    </li>
                                    @* <li>
                                        <span>Độ Phân Giải</span>
                                        <ul>
                                            <li><a href="#">HD 720p</a></li>
                                            <li><a href="#"></a>Full HD 1080p</li>
                                            <li><a href="#"></a>2k 1440p</li>
                                            <li><a href="#">4k</a></li>
                                        </ul>
                                    </li> *@
                                </ul>
                            </li>
                            <li>
                                <ul class="subnav2">
                                    @* <li>
                                        <span>Tần Số Quét</span>
                                        <ul>
                                            <li><a href="#">60Hz</a></li>
                                            <li><a href="#">75Hz</a></li>
                                            <li><a href="#">100Hz</a></li>
                                            <li><a href="#">144Hz</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span>Kích Thước</span>
                                        <ul>
                                            <li><a href="#">22"</a></li>
                                            <li><a href="#">24"</a></li>
                                            <li><a href="#">27"</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span>Graphic Screen</span>
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    Graphic Screen 24"
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Graphic Screen 27"
                                                </a>
                                            </li>
                                        </ul>
                                    </li> *@
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/ProductList?categoryId=4" class="btn" type="button">
                            <i class="fa-solid fa-laptop"></i> &nbspBàn Phím
                        </a>
                        <ul class="subnav" style="margin-top: -313px">
                            <li>
                                <ul class="subnav2 mt-5 mb-5">
                                    <li>
                                        <span>Hãng</span>
                                        <ul>
                                            <li><a href="/ProductList?categoryId=4&brandId=12">Akko</a></li>
                                            <li><a href="/ProductList?categoryId=4&brandId=12">Corsair</a></li>
                                            <li><a href="/ProductList?categoryId=4&brandId=12">DareU</a></li>
                                            <li><a href="/ProductList?categoryId=4&brandId=12">Fuhlen</a></li>
                                            <li><a href="/ProductList?categoryId=4&brandId=12">Rapoo</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span>Giá</span>
                                        <ul>
                                            <li><a href="/ProductList?categoryId=4&priceRange=under1">Dưới 1 Triệu</a></li>
                                            <li><a href="/ProductList?categoryId=4&priceRange=1to2">1 - 2 Triệu</a></li>
                                            <li><a href="/ProductList?categoryId=4&priceRange=over2">Trên 2 Triệu</a></li>
                                        </ul>
                                    </li>
                      @*               <li>
                                        <span>Switch</span>
                                        <ul>
                                            <li><a href="#">Blue Switch</a></li>
                                            <li><a href="#">Red Switch</a></li>
                                            <li><a href="#">Brown Switch</a></li>
                                            <li><a href="#">Clear Switch</a></li>
                                        </ul>
                                    </li> *@
                                </ul>
                            </li>
                            <li>
                                <ul class="subnav2">
                                    @* <li>
                                        <span>Akko Brand</span>
                                        <ul>
                                            <li><a href="#">ACR series</a></li>
                                            <li><a href="#">PC75 series</a></li>
                                            <li><a href="#">3084 series</a></li>
                                            <li><a href="#">3180 series</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span>Razer Brand</span>
                                        <ul>
                                            <li><a href="#">Blackwidow series</a></li>
                                            <li><a href="#">Huntsman series</a></li>
                                            <li><a href="#">Cynosa series</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span>Kết Nối</span>
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    Bluetooth
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Không dây
                                                </a>
                                            </li>
                                        </ul>
                                    </li> *@
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/ProductList?categoryId=5" class="btn" type="button">
                            <i class="fa-solid fa-computer-mouse"></i> &nbspChuột
                        </a>
                        <ul class="subnav" style="margin-top: -391px">
                            <li>
                                <ul class="subnav2" style="margin-top: 125px">
                                    <li>
                                        <span>Hãng</span>
                                        <ul>
                                            <li><a href="/ProductList?categoryId=5&brandId=5">Logitech</a></li>
                                            <li><a href="/ProductList?categoryId=5&brandId=8">Razer</a></li>
                                            <li><a href="/ProductList?categoryId=5&brandId=13">Attack Shark</a></li>
                                            <li><a href="/ProductList?categoryId=5&brandId=3">DareU</a></li>
                                        </ul>
                                    </li>
                                    @* <li>
                                        <span>Logitech Brand
                                            span>
                                        <ul>
                                            <li><a href="#">Logitech G Pro series</a></li>
                                            <li><a href="#">Logitech G120 series</a></li>
                                            <li><a href="#">Logitech G series</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span>Kết Nối</span>
                                        <ul>
                                            <li><a href="#">Không dây</a></li>
                                            <li><a href="#">Bluetooth</a></li>
                                            <li><a href="#">Có dây</a></li>
                                        </ul>
                                    </li> *@
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/ProductList?categoryId=6" class="btn" type="button">
                            <i class="fa-solid fa-headphones"></i> &nbspTai Nghe
                        </a>
                        <ul class="subnav" style="margin-top: -469px">
                            <li>
                                <ul class="subnav2" style="margin-top: 125px">
                                    <li>
                                        <span>Hãng</span>
                                        <ul>
                                            <li><a href="/ProductList?categoryId=6&brandId=2">Corsair</a></li>
                                            <li><a href="/ProductList?categoryId=6&brandId=3">DareU</a></li>
                                            <li><a href="/ProductList?categoryId=6&brandId=12">ASUS</a></li>
                                            <li><a href="/ProductList?categoryId=6&brandId=14">HyperX</a></li>
                                            <li><a href="/ProductList?categoryId=6&brandId=11">Xiberia</a></li>
                                        </ul>
                                    </li>
                                   @*  <li>
                                        <span>Headphone Brand</span>
                                        <ul>
                                            <li><a href="#">SOUNDPEAT</a></li>
                                            <li><a href="#">SKULL</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span>Connection Type</span>
                                        <ul>
                                            <li><a href="#">Không dây</a></li>
                                            <li><a href="#">Bluetooth</a></li>
                                            <li><a href="#">Có dây</a></li>
                                        </ul>
                                    </li> *@
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9 flex-grow-1" style="padding-left: 8px">
                <div class="heading">
                    <a href="#">Hướng dẫn thanh toán</a>
                    <a href="#">Hướng dẫn trả góp</a>
                    <a href="#">Chính sách bảo hành</a>
                </div>
                <div id="carouselSlider" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselSlider" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselSlider" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselSlider" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselSlider" data-bs-slide-to="3" aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#carouselSlider" data-bs-slide-to="4" aria-label="Slide 5"></button>
                        <button type="button" data-bs-target="#carouselSlider" data-bs-slide-to="5" aria-label="Slide 6"></button>
                        <button type="button" data-bs-target="#carouselSlider" data-bs-slide-to="6" aria-label="Slide 7"></button>
                        <button type="button" data-bs-target="#carouselSlider" data-bs-slide-to="7" aria-label="Slide 8"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="#product"><img class="d-block w-100" src="~/assets/img/Slider/slider1.jpg"></a>
                        </div>
                       
                        <div class="carousel-item">
                            <a href="#product"><img class="d-block w-100" src="~/assets/img/Slider/slider2.jpg"></a>
                        </div>
                        <div class="carousel-item">
                            <a href="#product"><img class="d-block w-100" src="~/assets/img/Slider/slider3.jpg"></a>
                        </div>
                        <div class="carousel-item">
                            <a href="#product"><img class="d-block w-100" src="~/assets/img/Slider/slider4.jpg"></a>
                        </div>
                        <div class="carousel-item">
                            <a href="#product"><img class="d-block w-100" src="~/assets/img/Slider/slider5.jpg"></a>
                        </div>
                        <div class="carousel-item">
                            <a href="#product"><img class="d-block w-100" src="~/assets/img/Slider/slider6.png"></a>
                        </div>
                        <div class="carousel-item">
                            <a href="#product"><img class="d-block w-100" src="~/assets/img/Slider/slider7.jpg"></a>
                        </div>
                        <div class="carousel-item">
                            <a href="#product"><img class="d-block w-100" src="~/assets/img/Slider/slider8.jpg"></a>
                        </div>
                        
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselSlider" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselSlider" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    @*product section*@




    <div id="product">
        <div class="container">
            <h3 class="heading text-center font-weight-semibold mb-3">T H Ị N H &nbsp; H À N H</h3>
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    @if (Model != null && Model.Count() > 0)
                    {
                        foreach (var item in Model)
                        {
                            string url = $"/{Utilities.SEOUrl(item.ProductName)}-{item.ProductID}";
                            <div class="swiper-slide">
                                <a href="@url">
                                    <div class="slider-box">
                                        <div class="img-box">
                                            <img src="@item.ImageURL" alt="@item.ProductName" width="100%" height="200px" />

                                        </div>
                                        <p class="details">
                                            @item.ProductName
                                        </p>
                                        <span class="price">
                                            @item.Price.ToString("#,##0") VNĐ
                                        </span>
                                        <div class="btn buy-btn">Thêm vào giỏ</div>
                                    </div>
                                </a>
                            </div>
                        }
                    }
                    <div class="swiper-slide">
                        <a asp-action="Index" asp-controller="Product">
                            <div class="slider-box">
                                <div class="img-box">
                                    <img src="~/assets/img/pc1.jpg" alt="" width="100%" height="200px" />
                                </div>
                                <p class="details">
                                    PC gaming Asus rog strix
                                </p>
                                <span class="price">
                                    <strike>30.000.000vnd</strike><br />
                                    25.000.000vnd
                                </span>
                                <div class="btn buy-btn">Thêm vào giỏ</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a asp-action="Index" asp-controller="Product">
                            <div class="slider-box">
                                <div class="img-box"><img src="~/images/products/asus-gaming-rog.jpg" alt="" width="100%" height="200px" />
                                   
                                </div>
                                <p class="details">
                                    PC Asus Gaming ROG
                                </p>
                                <span class="price">
                                    <strike>48.190.000vnd</strike><br />
                                    47.190.000vnd
                                </span>
                                <div class="btn buy-btn">Thêm vào giỏ</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a asp-action="Index" asp-controller="Product">
                            <div class="slider-box">
                                <div class="img-box">
                                    <img src="~/images/products/asus-vivobook-15x-oled.jpg" alt="" width="100%" height="200px" />
                                </div>
                                <p class="details">
                                    PC ASUS Vivobook OLED
                                </p>
                                <span class="price">
                                    <strike>19.590.000vnd</strike><br />
                                    18.590.000vnd
                                </span>
                                <div class="btn buy-btn">Thêm vào giỏ</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a asp-action="Index" asp-controller="Product">
                            <div class="slider-box">
                                <div class="img-box">
                                    <img src="~/images/products/laptop-lenovo-ideapad.jpg" width="100%" height="200px" />
                               
                                </div>
                                <p class="details">
                                    Laptop Lenovo Ideapad
                                </p>
                                <span class="price">
                                    <strike>15.990.000vnd</strike><br />
                                    13.890.000vnd
                                </span>
                                <div class="btn buy-btn">Thêm vào giỏ</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a asp-action="Index" asp-controller="Product">
                            <div class="slider-box">
                                <div class="img-box">
                                    <img src="~/assets/img/pc1.jpg" alt="" width="100%" height="200px" />
                                </div>
                                <p class="details">
                                    PC gaming Asus rog strix ga35
                                </p>
                                <span class="price">
                                    <strike>30.000.000vnd</strike><br />
                                    25.000.000vnd
                                </span>
                                <div class="btn buy-btn">Thêm vòa giỏ</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a asp-action="Index" asp-controller="Product">
                            <div class="slider-box">
                                <div class="img-box">
                                    <img src="~/assets/img/pc1.jpg" alt="" width="100%" height="200px" />
                                </div>
                                <p class="details">
                                    PC gaming Asus rog strix ga35
                                </p>
                                <span class="price">
                                    <strike>30.000.000vnd</strike><br />
                                    25.000.000vnd
                                </span>
                                <div class="btn buy-btn">Thêm vào giỏ</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a asp-action="Index" asp-controller="Product">
                            <div class="slider-box">
                                <div class="img-box">
                                    <img src="~/assets/img/pc1.jpg" alt="" width="100%" height="200px" />
                                </div>
                                <p class="details">
                                    PC gaming Asus rog strix ga35
                                </p>
                                <span class="price">
                                    <strike>30.000.000vnd</strike><br />
                                    25.000.000vnd
                                </span>
                                <div class="btn buy-btn">Thêm vào giỏ</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a asp-action="Index" asp-controller="Product">
                            <div class="slider-box">
                                <div class="img-box">
                                    <img src="~/assets/img/pc1.jpg" alt="" width="100%" height="200px" />
                                </div>
                                <p class="details">
                                    PC gaming Asus rog strix ga35
                                </p>
                                <span class="price">
                                    <strike>30.000.000vnd</strike><br />
                                    25.000.000vnd
                                </span>
                                <div class="btn buy-btn">Thêm vào giỏ</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a asp-action="Index" asp-controller="Product">
                            <div class="slider-box">
                                <div class="img-box">
                                    <img src="~/assets/img/pc1.jpg" alt="" width="100%" height="200px" />
                                </div>
                                <p class="details">
                                    PC gaming Asus rog strix ga35
                                </p>
                                <span class="price">
                                    <strike>30.000.000vnd</strike><br />
                                    25.000.000vnd
                                </span>
                                <div class="btn buy-btn">Thêm vào giỏ</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a asp-action="Index" asp-controller="Product">
                            <div class="slider-box">
                                <div class="img-box">
                                    <img src="~/assets/img/pc1.jpg" alt="" width="100%" height="200px" />
                                </div>
                                <p class="details">
                                    PC gaming Asus rog strix ga35
                                </p>
                                <span class="price">
                                    <strike>30.000.000vnd</strike><br />
                                    25.000.000vnd
                                </span>
                                <div class="btn buy-btn">Thêm vào giỏ</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a asp-action="Index" asp-controller="Product">
                            <div class="slider-box">
                                <div class="img-box">
                                    <img src="~/assets/img/pc1.jpg" alt="" width="100%" height="200px" />
                                </div>
                                <p class="details">
                                    PC gaming Asus rog strix ga35
                                </p>
                                <span class="price">
                                    <strike>30.000.000vnd</strike><br />
                                    25.000.000vnd
                                </span>
                                <div class="btn buy-btn">Thêm vào giỏ</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            @*NEW ARRIVAL*@
            <h3 class="heading text-center font-weight-semibold mb-3 mt-5">H À N G &nbsp; M Ớ I &nbsp; V Ề</h3>
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a asp-action="Index" asp-controller="Product">
                            <div class="slider-box">
                                <div class="img-box"><img src="~/images/products/laptop-dell-inspiron-15-3520-i3u082w11blu.jpg" width="100%" height="200px" />
                                </div>
                                <p class="details">
                                    Laptop Dell Inspirion 15 3000 I3511
                                </p>
                                <span class="price">
                                    <strike>14.990.000vnd</strike><br />
                                    13.990.000vnd
                                </span>
                                <div class="btn buy-btn">Thêm vào giỏ</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a asp-action="Index" asp-controller="Product">
                            <div class="slider-box">
                                <div class="img-box"><img src="~/images/products/macbook-pro-14-m1-core-gpu.jpeg" alt="" width="100%" height="200px" />
                                </div>
                                <p class="details">
                                    Macbook Pro 14 M1 Pro 10 CPU
                                </p>
                                <span class="price">
                                    <strike>71.990.000vnd</strike><br />
                                    61.990.000vnd
                                </span>
                                <div class="btn buy-btn">Thêm vào giỏ</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a asp-action="Index" asp-controller="Product">
                            <div class="slider-box">
                                <div class="img-box">
                                    <img src="~/assets/img/laptop new arrival.jpg" alt="" width="100%" height="200px" />
                                </div>
                                <p class="details">
                                    Laptop MSI Modern 14 B11SBU-668VN
                                </p>
                                <span class="price">
                                    <strike>22.490.000vnd</strike><br />
                                    13.990.000vnd
                                </span>
                                <div class="btn buy-btn">Thêm vào giỏ</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a asp-action="Index" asp-controller="Product">
                            <div class="slider-box">
                                <div class="img-box">
                                    <img src="~/images/products/laptop-asus-vivobook-15x-oled-a1503za-l1421w.png" alt="" width="100%" height="200px" />
                                </div>
                                <p class="details">
                                    Laptop Asus VivoBook A515EA OLED
                                </p>
                                <span class="price">
                                    <strike>30.000.000vnd</strike><br />
                                    25.000.000vnd
                                </span>
                                <div class="btn buy-btn">Thêm vào giỏ</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a asp-action="Index" asp-controller="Product">
                            <div class="slider-box">
                                <div class="img-box">
                                    <img src="~/assets/img/laptop new arrival.jpg" alt="" width="100%" height="200px" />
                                </div>
                                <p class="details">
                                    PC gaming Asus rog strix ga35
                                </p>
                                <span class="price">
                                    <strike>30.000.000vnd</strike><br />
                                    25.000.000vnd
                                </span>
                                <div class="btn buy-btn">Thêm vào giỏ</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a asp-action="Index" asp-controller="Product">
                            <div class="slider-box">
                                <div class="img-box">
                                    <img src="~/assets/img/laptop new arrival.jpg" alt="" width="100%" height="200px" />
                                </div>
                                <p class="details">
                                    PC gaming Asus rog strix ga35
                                </p>
                                <span class="price">
                                    <strike>30.000.000vnd</strike><br />
                                    25.000.000vnd
                                </span>
                                <div class="btn buy-btn">Thêm vào giỏ</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a asp-action="Index" asp-controller="Product">
                            <div class="slider-box">
                                <div class="img-box">
                                    <img src="~/assets/img/laptop new arrival.jpg" alt="" width="100%" height="200px" />
                                </div>
                                <p class="details">
                                    PC gaming Asus rog strix ga35
                                </p>
                                <span class="price">
                                    <strike>30.000.000vnd</strike><br />
                                    25.000.000vnd
                                </span>
                                <div class="btn buy-btn">Thêm vào giỏ</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a asp-action="Index" asp-controller="Product">
                            <div class="slider-box">
                                <div class="img-box">
                                    <img src="~/assets/img/laptop new arrival.jpg" alt="" width="100%" height="200px" />
                                </div>
                                <p class="details">
                                    PC gaming Asus rog strix ga35
                                </p>
                                <span class="price">
                                    <strike>30.000.000vnd</strike><br />
                                    25.000.000vnd
                                </span>
                                <div class="btn buy-btn">Thêm vào giỏ</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a asp-action="Index" asp-controller="Product">
                            <div class="slider-box">
                                <div class="img-box">
                                    <img src="~/assets/img/laptop new arrival.jpg" alt="" width="100%" height="200px" />
                                </div>
                                <p class="details">
                                    PC gaming Asus rog strix ga35
                                </p>
                                <span class="price">
                                    <strike>30.000.000vnd</strike><br />
                                    25.000.000vnd
                                </span>
                                <div class="btn buy-btn">Thêm vào giỏ</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a asp-action="Index" asp-controller="Product">
                            <div class="slider-box">
                                <div class="img-box">
                                    <img src="~/assets/img/laptop new arrival.jpg" alt="" width="100%" height="200px" />
                                </div>
                                <p class="details">
                                    PC gaming Asus rog strix ga35
                                </p>
                                <span class="price">
                                    <strike>30.000.000vnd</strike><br />
                                    25.000.000vnd
                                </span>
                                <div class="btn buy-btn">Thêm vào giỏ</div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a asp-action="Index" asp-controller="Product">
                            <div class="slider-box">
                                <div class="img-box">
                                    <img src="~/assets/img/laptop new arrival.jpg" alt="" width="100%" height="200px" />
                                </div>
                                <p class="details">
                                    PC gaming Asus rog strix ga35
                                </p>
                                <span class="price">
                                    <strike>30.000.000vnd</strike><br />
                                    25.000.000vnd
                                </span>
                                <div class="btn buy-btn">Thêm vào giỏ</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-zone ads" >
        <a href="https://tinhocngoisao.com/collections/khuyen-mai-mua-1-tang-1">
        <img src="~/assets/img/banner2.jpg" class="" height="350px" />
        </a>
    </div>
</div>






@section Scripts {
    <script>
        $(document).ready(function () {
            // Lắng nghe sự kiện thay đổi trên dropdown Sắp xếp
            $("#sortOption").change(function () {
                console.log("Sort selection changed");
                applyFilterAndSort();
            });

            // Lắng nghe sự kiện click trên tất cả các liên kết danh mục
            $(".category-link").click(function () {
                // Lấy CategoryID từ data-attribute
                var categoryId = $(this).data("category-id");
                console.log("Category selected:", categoryId);
                $("#categoryId").val(categoryId);  // Cập nhật giá trị cho categoryId
                applyFilterAndSort();
            });

            // Khi người dùng chọn thương hiệu
            $("#brandId").change(function () {
                applyFilterAndSort();
            });

            // Lắng nghe sự kiện nhập từ khóa tìm kiếm
            $("#keyword").keyup(function () {
                var strkeyword = $('#keyword').val();
                $.ajax({
                    url: '/Admin/Search/FindProduct/',
                    datatype: "json",
                    type: "POST",
                    data: { keyword: strkeyword },
                    async: true,
                    success: function (results) {
                        $("#records_table").html("");
                        $("#records_table").html(results);
                    },
                    error: function (xhr) {
                        alert('Error in search');
                    }
                });
            });
        });

        // Hàm áp dụng lọc và sắp xếp
        function applyFilterAndSort() {
            var categoryId = $("#categoryId").val() || 0;  // Lấy giá trị của categoryId
            var brandId = $("#brandId").val() || 0;        // Lấy giá trị của brandId
            var sortOption = $("#sortOption").val() || 0;  // Lấy giá trị của sortOption

            var url = '/Product/FilterAndSort';
            console.log("Applying Filter and Sort with values:");
            console.log("Category ID:", categoryId);
            console.log("Brand ID:", brandId);
            console.log("Sort Option:", sortOption);

            // Gửi yêu cầu Ajax
            $.ajax({
                url: url,
                type: 'GET',
                data: {
                    categoryId: categoryId,
                    brandId: brandId,
                    sortOption: sortOption
                },
                success: function (results) {
                    console.log("AJAX request successful");
                    $("#product-list").html(results); // Cập nhật danh sách sản phẩm
                },
                error: function () {
                    alert('Error in filtering and sorting');
                }
            });
        }
    </script>
}
